services:
  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: unless-stopped
    ports:
     - '3000:3000'
    networks:
      - monitoring
      - app_network
    volumes:
      - grafana-storage:/var/lib/grafana
volumes:
  grafana-storage: {}
networks:
  monitoring:
  app_network:
    external: true
    
